.navbar-container{
  padding: 25px ;
  background-color: #004953;
}
.nav-pills .nav-link {
  font-size : 32px;
  font-weight : bold;
  margin-left :50px;
  margin-right :50px;
  box-sizing: border-box;
  color: white;
}
.nav-pills .nav-link.active{
  background-color: #49796b !important;
  color : white;
}
.container2{
  margin-top : 50px;
  padding: 50px;
  box-shadow : inset 0 0 10px lightblue;
}
.jumbotron{
  color:#2c3e50;
  background: #ecf0f1;
}
.btn{
  margin-top: 25px;
  width: 250px;
  margin-right: 50px;
}
.error{
  font-size: 14px;
  color : red;
}